<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>HOTEL ISLAM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/styles.css" />
    <script
      src="https://kit.fontawesome.com/dbed6b6114.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="/images/logo.png" type="image/png" />
  </head>
  <body>
    <!-- header -->
    <header class="header" id="header">
      <div class="head-top">
        <div class="site-name">
          <span><img src="/images/hotel.jpeg" alt="" width="30px" height="30px"></span>
        </div>
      
      </div>

      <div class="head-bottom flex">
        <h2>COMFORTABLE ROOMS AND RESPONSIBLE FOOD SERVICES</h2>
        <p>Select new rooms and stay tonight with your comfort...</p>
        <!-- <button type="button" class="head-btn">More...</button> -->
      </div>
    </header>
    <!-- end of header -->

    <!-- side navbar -->
    <div class="sidenav" id="sidenav">
      <span class="cancel-btn" id="cancel-btn">
        <i class="fas fa-times"></i>
      </span>

      <ul class="navbar">
        <li><a href="#header">home</a></li>
        <li><a href="#rooms">rooms</a></li>
        <li><a href="#services">services</a></li>
        <li><a href="#customers">customers</a></li>
      </ul>
      <button class="btn sign-up">
        <a href="#">Book Now</a>
  </div>
    <!-- end of side navbar -->

    <!-- fullscreen modal -->
    <div id="modal"></div>
    <!-- end of fullscreen modal -->
    <!-- <div class="benfits-container">
      <div class="benfits-Desktop">
        <div class="benfits-items">
          <img class="benfits-items-img" src="/Hotel IsLaM/images/discount.jpg" alt="" width="30px" height="46px">
          <div class="sub-title">Best Rated Guaranted</div>
        </div>
      </div>

    </div> -->

    <section class="rooms sec-width" id="rooms">
      <div class="title">
        <h2>rooms</h2>
      </div>
      <div class="rooms-container">
        <!-- single room -->
        <article class="room">
          <div class="room-image">
            <img src="images/img1.jpg" alt="room image" />
          </div>
          <div class="room-text">
            <h3>Luxury Rooms</h3>
            <ul>
              <li>
                <i class="fa-solid fa-bed"></i>
                King sized beds
              </li>
              <li>
                <i class="fa-solid fa-wifi"></i>
                Free Wifi
              </li>
              <li>
                <i class="fa-solid fa-tv"></i>
                TV
              </li>
            </ul>
            <p>
              All our rooms are elegantly furnished with handmade furniture includes luxury en-suite facility . We don’t compromise on anything, especially hygiene and cleanliness. We offer the best rooms to our guests because we want you to feel at home and safe. 
            </p>
            <!-- <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
              corporis quasi officiis cumque, fugiat nostrum sunt, tempora animi
              dicta laboatquerum beatae ratione doloremque. Delectus odio sit eius
              labore,  quo?
            </p> -->
            <p class="rate"><span>₹5999  /</span> Per Night</p>
            <button type="button" class="btn"><a href="booking">book now</a></button>
          </div>
        </article>
        <!-- end of single room -->
        <!-- single room -->
        <article class="room">
          <div class="room-image">
            <img src="images/img2.jpg" alt="room image" />
          </div>
          <div class="room-text">
            <h3>Elegant Rooms</h3>
            <ul>
              <li>
                <i class="fa-solid fa-wifi"></i>
               Wifi
              </li>
              <li>
                <i class="fa-solid fa-bed"></i>
               Double Beds
              </li>
              <li>
                <i class="fa-solid fa-tv"></i>
                TV
              </li>
            </ul>
            <p>
              Our restaurant serves to all apetites - light meals, healthy snacks, wholesome meals or munchy fads. Selected from a wide range of Indian, regional and continental cuisine to suit your taste
            </p>
            <!-- <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
              corporis quasi officiis cumque, fugiat nostrum sunt, tempora animi
              dicta laborum beatae ratione doloremque. Delectus odio sit eius
              labore, atque quo?
            </p> -->
            <p class="rate"><span>₹3999 /</span> Per Night</p>
            <button type="button" class="btn"><a href="booking">book now</a></button>
          </div>
        </article>
        <!-- end of single room -->
        <!-- single room -->
        <article class="room">
          <div class="room-image">
            <img src="images/img3.jpg" alt="room image" />
          </div>
          <div class="room-text">
            <h3>Semi-Furnished Rooms</h3>
            <ul>
              <li>
                <i class="fa-solid fa-wifi"></i>
               Wifi available
              </li>
              <li>
                <i class="fa-solid fa-bed"></i>
                Beds
              </li>
              <li>
                <i class="fa-solid fa-tv"></i>
                Wall TV
              </li>
            </ul>
            <p>
            Our hotel performs cleaning duties in all guest areas and back of house. Consistently offers professional, friendly and engaging service. Follows all safety and sanitation policies and performs additional duties as needed.
            </p>
            <!-- <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
              corporis quasi officiis cumque, fugiat nostrum sunt, tempora animi
              dicta laborum beatae ratione doloremque. Delectus odio sit eius
              labore, atque quo?
            </p> -->
            <p class="rate"><span>₹2999/</span> Per Night</p>
            <button type="button" class="btn"><a href="booking">book now</a></button>
          </div>
        </article>
        <!-- end of single room -->
      </div>
    </section>

    <div class="book">
      <div class="form-item">
        <div class="mst">
          <h1>MAKE SURE TO STAY WITH YOUR COMFORT</h1>
        </div>
        <button type="button" class="btn"><a href="booking">book now</a></button>
      </div>
    </div>

    <!-- body content  -->
    <section class="services sec-width" id="services">
      <div class="title">
        <h2>services</h2>
      </div>
      <div class="services-container">
        <!-- single service -->
        <article class="service">
          <div class="service-icon">
            <span>
              <i class="fas fa-utensils"></i>
            </span>
          </div>
          <div class="service-content">
            <h2>Food Service/ Food Runner</h2>
            <p>
              We provide North Indian, South Indian, Chinese, Italian, and
              Tarkish food. And our customer service is very good. Our food is
              delicious, splendid, juicy, tasty, amazing, and something of the
              kind. In In other words, use vivid adjectives that truly convey
              the feelings people get when they eat the food you describe.
            </p>

          </div>
        </article>
        <!-- end of single service -->
        <!-- single service -->
        <article class="service">
          <div class="service-icon">
            <span>
              <i class="fas fa-swimming-pool"></i>
            </span>
          </div>
          <div class="service-content">
            <h2>Refreshment</h2>
            <p>
              Snacks and beverages that are available for purchase at the hotel pool. A menu of food and drink items that can be ordered and delivered to the guest room. A selection of coffee and tea options, with supplies provided in the guest room. A selection of coffee and tea options, with supplies provided in the guest room.
            </p>

          </div>
        </article>
        <!-- end of single service -->
        <!-- single service -->
        <article class="service">
          <div class="service-icon">
            <span>
              <i class="fas fa-broom"></i>
            </span>
          </div>
          <div class="service-content">
            <h2>Housekeeping</h2>
            <p>
              Making beds and changing linens.
Dusting and polishing furniture.
Cleaning and sanitizing bathrooms.
Restocking supplies, such as towels and toiletries.
Replacing dirty linens with fresh ones.
Vacuuming and/or mopping floors.
Laundering towels and linens.
Reporting maintenance issues to the manager.
Assisting guests with requests or questions.
            </p>

          </div>
        </article>
        <!-- end of single service -->
        <!-- single service -->
        <article class="service">
          <div class="service-icon">
            <span>
              <i class="fas fa-door-closed"></i>
            </span>
          </div>
          <div class="service-content">
            <h2>Room Security</h2>
            <p>
              Our hotel use keycards to allow guests to access their rooms. These cards are typically programmed to only work for a specific room, and they deactivate once the guest checks out. We  have security staff on duty 24/7 to help ensure the safety of guests. They may patrol the premises, respond to any security concerns, and assist with any other safety-related issues.
            </p>

          </div>
        </article>
        <!-- end of single service -->
      </div>
    </section>
    <section class="customers" id="customers">
      <div class="sec-width">
        <div class="title">
          <h2>customers</h2>
        </div>
        <div class="customers-container">
          <!-- single customer -->
          <div class="customer">
            <div class="rating">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <h3>Refreshment and value family time</h3>
            <p>
              We enjoyed our stay and the games played and offered by the
              resort.The ideal location for spending time with family and
              friends.I look forward to visiting again soon.
            </p>
            <img src="images/cus1.jpg" alt="customer image" />
            <span>Mona D, USA</span>
          </div>
          <!-- end of single customer -->
          <!-- single customer -->
          <div class="customer">
            <div class="rating">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <h3>Food Service</h3>
            <p>
              The food was tasty and spicy, and the service was excellent. This
              is a must-visit restaurant that I wholeheartedly recommend.I
              happen to be wandering around nampally and found this nice place
            </p>
            <img src="images/cus2.jpg" alt="customer image" />
            <span>Shruthi Hasan, UK</span>
          </div>
          <!-- end of single customer -->
          <!-- single customer -->
          <div class="customer">
            <div class="rating">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <h3>Housekeeping</h3>
            <p>
              I had a wonderful stay at Hotel IsLaM. All the facilities are at
              their best, especially the housekeeping. I believe that everyone
              should try IsLaM at least once in order to fulfil their desire to
              be treated as Gods.
            </p>
            <img src="images/cus3.jpg" alt="customer image" />
            <span>Sourav,IND</span>
          </div>
          <!-- end of single customer -->
        </div>
      </div>
    </section>
    <!-- end of body content -->

    <!-- footer -->
    <footer class="footer">
      <div class="footer-container">
        <div>
          <h2>About Us</h2>
          <p>
            The car parking and the Wi-Fi are always free, so you can stay in touch and come and go as you please. Strategically situated in Banjara Hills, allowing you access and proximity to local attractions and sights. Don't leave before paying a visit to the famous Golconda Fort. Rated with 4 stars, this high-quality property provides guests with access to massage, restaurant and fitness center on-site.
          </p>
          <h2>Our social media</h2>
          <ul class="social-icons">
            <li class="flex">
              <i class="fa fa-twitter fa-2x"></i>
            </li>
            <li class="flex">
              <i class="fa fa-facebook fa-2x"></i>
            </li>
            <li class="flex">
              <i class="fa fa-instagram fa-2x"></i>
            </li>
          </ul>
        </div>

        <div>
          <h2>Useful Links</h2>
          <a href="#">privacy policy</a>
          <a href="#">Accessibility</a>
          <a href="#">Terms of use</a>
          <a href="#">subscription</a>
        </div>

        <div>
          <h2>Privacy</h2>
          <a href="#header">Home</a>
          <a href="#services">Service</a>
          <a href="#rooms">Rooms</a>
          <a href="#customer">Customer</a>
        </div>

        <div>
          <h2>Have A Question</h2>
          <div class="contact-item">
            <span>
              <i class="fas fa-map-marker-alt"></i>
            </span>
            <span> Kalimandir,Bandlaguda jagir,Hyderabad,500086 </span>
          </div>
          <div class="contact-item">
            <span>
              <i class="fas fa-phone-alt"></i>
            </span>
            <span> +916294268784</span>
          </div>
          <div class="contact-item">
            <span>
              <i class="fas fa-envelope"></i>
            </span>
            <span> muntasirul.msd@gmail.com </span>
          </div>
        </div>
      </div>
      <div class="copyWrite">
        &copy; All Rights Reserved. 
        <a href="https://www.facebook.com/muntasirul.msd" target="_blank"></a>
          Created By Team Dot Web.</a
        >
      </div>
    </footer>
    <!-- end of footer -->
    <script>!(function () {
      let e = document.createElement("script"),
        t = document.head || document.getElementsByTagName("head")[0];
      (e.src =
        "https://cdn.jsdelivr.net/npm/rasa-webchat@1.0.1/lib/index.js"),
        (e.async = !0),
        (e.onload = () => {
          window.WebChat.default(
            {
              customData: { language: "en" },
              socketUrl: "http://localhost:5005",
              title: "MST"
            },
            null
          );
        }),
        t.insertBefore(e, t.firstChild);
    })();
    localStorage.clear();
    </script>
    <script src="script.js"></script>
    <script src="https://kit.fontawesome.com/33975a87b9.js" crossorigin="anonymous"></script>
  </body>
</html>
